
<html lang="ro">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Pagina principala</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="mic.css" type="text/css" />
  </head>
  <body>
    <header>
        <div class="navbar">
          <a href="/index">Acasa</a>
          <a href="/worldtravel.html">WORLD TRAVEL AWARDS</a>
          <div class="dropdown">
          <button class="dropbtn">City break
            <i class="fa fa-caret-down"></i>
          </button>
            <div class="dropdown-content">
                <a href="/citybreak.html">Despre</a>
                <a href="/paris.html">Paris</a>
                <a href="/brc.html">Barcelona</a>
                <a href="/roma.html">Roma</a>
                <a href="/tlv.html">Tel Aviv</a>
                <a href="/venetia.html">Venetia</a>
             </div>
            </div>
          <a href="/hoteluri.html">Hoteluri</a>
          <a href="logout" >  Logout </a> 
         </div>
    </header>     
      <section id="despre">
         <img id="silueta" src="imagini/logo.png" alt="dmtv logo"/>
         <p id="demo"></p>
          <script>
          var myVar = setInterval(myTimer, 1000);function myTimer() {
            var d = new Date();
            var t = d.toLocaleTimeString();
            document.getElementById("demo").innerHTML = t;}
          </script>
         <h1><b>Despre noi</b></h1>
         <p>Fondata in anul 1993 la Cluj Napoca, compania <i>Kara Gul</i> a cunoscut o dezvoltare
         continua, extinzandu-si reteaua de agentii proprii in orase importante din Romania
         si devenind una dintre cele mai importante companii de turism din Romania.</p>
         <p> Cu sprijinul si increderea acordata de clientii si partenerii nostri,astazi, reteaua <i>Kara Gul</i> este formata din 23 de agentii de calatorie, 16 agentii proprii si 7 agentii francizate in orasele: Bucuresti, Cluj-Napoca, Timisoara, Sibiu,Oradea, Constanta.</p>
         <p> Misiunea <i>Kara Gul</i> este aceea de a deveni consultantul Dumneavoastra de calatorie!
         Ne propunem sa oferim clientilor nostri produse turistice si servicii de calatorie complete si de inalta calitate!</p>

         <p> Viziunea <i>Kara Gul</i> este aceea de a dezvolta cea mai extinsa si performanta retea de agentii din Romania, in masura sa asigure servicii standardizate, care sa satisfaca cele mai exigente cerinte in ceea ce priveste siguranta si confortul calatoriilor cu scop de afaceri, personale sau turistice!</p>
         <p>Valorile <i>Kara Gul</i> sunt date in primul rand de respectul fata de clientii,angajatii, partenerii si colaboratorii nostri si de desfasurarea unei activitati transparente, cu respectarea legislatiei nationale si a Uniunii Europene!</p>
         <p>Echipa <i>Kara Gul</i>, parteneriatele solide in tara si in strainatate si know-how-ul dobandit asigura clientilor nostri inalta calitate a serviciilor de calatorie,diversitatea destinatiilor si serviciilor oferite, siguranta calatoriei si un raport corespunzator pret calitate pentru fiecare tip de serviciu!</p>
        <h2><b>De ce sa ne alegi pe noi?</b></h2>
        
        <video controls autoplay muted>
           <source src="video/videot.mp4"
            type="video/mp4"></video>
        
        <p><br></p>

        <p>Ei bine, pentru ca...</p>
        <br>
        <p><b>1. Avem 25 de ani de experienta:</b><br>
           Suntem, de peste 25 de ani, una dintre companiile de turism preferate ale romanilor. Kara Gul a pornit din Transilvania, dar s-a extins in timp in toata tara: avem acum agentii proprii si francize in 16 orase din Romania. Sediul central al companiei a ramas la Cluj, iar actionarii sunt aceiasi inca din 1993!</p>

          <p><b>2. Va oferim preturi competitive:</b><br>
          Kara Gul este una dintre cele mai mari companii de turism din Romania, lucru care ne permite sa negociem tarife si conditii preferentiale pentru clientii nostri. De asemenea, suntem unul dintre cei mai importanti turoperatori pentru litoralul romanesc
          si avem contracte directe cu cei mai mari turoperatori de vacante in strainatate,prin urmare va putem oferi preturi competitive si o oferta variata.</p>

        <p><b>3. Ne selectam cu grija oferta:</b><br>Noi selectam atent oferta pe care o dam mai departe clientilor. Daca un hotel nu se ridica la anumite standarde, nu il vom recomanda!</p>

        <p><b>4. Va oferim siguranta, transparenta si seriozitate:</b><br>
        Nu suntem adeptii costurilor ascunse, nu vindem la negru si nu facem orice pentru a
        castiga clienti. In schimb, avem reputatia unei companii de incredere, reputatie
        certificata de peste 3 milioane de turisti care ne-au ales si carora le multumim!</p>

       <p><b>5. Avem o echipa specializata ce-ti sta la dispozitie:</b><br>
       Ne mandrim cu o echipa de exceptie, formata din oameni de toate varstele, specialisti 
       in domeniul in care activeaza si pregatiti mereu sa recomande cele mai bune variante!</p>

       <p><b>6. Va oferim servicii complete pentru calatorii:</b><br>
       Clientii nostri apeleaza la noi pentru orice fel de calatorie sau serviciu asociat calatoriei: bilete de avion, vacante in Romania si in strainatate, rent-a-car,transferuri, organizare de evenimente, asigurari de calatorie si multe altele. Orice nevoie de calatorie aveti, consultantii It's Travel Time vor gasi solutia.</p>

      <p><b>7. Ai parte de suport si asistenta non-stop:</b><br>Suntem alaturi de clientii nostri si dupa achizitionarea vacantei, prin Serviciul de Informatii si Rezervari Non-Stop.</p>  
      </section>
     <section id="anim">
      <p><i><b>Clientul inainte de toate, restul vine de la sine</b></i>Viata este o calatorie, iar noi suntem aici pentru a te insoti pe tot parcursul acestei calatorii! O calatorie nu este doar o vacanta. Este un proces deauto-descoperire. Aflati cine sunteti cu adevarat si care este scopul vostru in viata</p>
     </section>        
    

     <div class="footer1">
       <p>Telefon fix: 021 200 52 00<br>
          Telefon mobil: 0722 25 00 00<br>
          Program: L-D: 24/24</p>
     </div>             
    <script src="script.js"></script>
  </body>

</html>